@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: sans-serif;
}

@theme {
  --color-primary: #06b6d4;
  --color-secondary: #38bdf8;

  --color-bg: #020617;
  --color-card: #0f172a;
  --color-border: #1e293b;

  --color-heading: #f8fafc;
  --color-text: #cbd5e1;
  --color-muted: #94a3b8;

  --radius-card: 18px;
}